[submodule "Engine"]
	path = Engine
	url = https://github.com/Code-Elevate/Engine
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Code-Elevate/Frontend
[submodule "Backend"]
	path = Backend
	url = https://github.com/Code-Elevate/Backend
